<!--
This file is part of LiberaForms.

# SPDX-FileCopyrightText: 2021 LiberaForms.org
# SPDX-License-Identifier: AGPL-3.0-or-later
-->

<template>
  <div class="exports">

    <a v-if="graphs_enabled==true"
       class="btn btn-primary btn-sm"
       role="button"
       :href="stats_endpoint">
       Graphs
      <i class="fa fa-bar-chart" aria-hidden="true"></i>
    </a>

    <a v-if="exports_enabled==true"
       class="btn btn-primary btn-sm"
       role="button"
       :href="csv_endpoint"> <!--?with_deleted_columns=true">-->
       CSV <i class="fa fa-download" aria-hidden="true"></i>
    </a>

    <button v-if="exports_enabled==true"
            class="btn btn-primary btn-sm"
            v-on:click="generateJSON">
      JSON <i class="fa fa-download" aria-hidden="true"></i>
    </button>

    <button v-if="exports_enabled==true"
            class="btn btn-primary btn-sm"
            v-on:click="displayPdfBuilder">
      PDF <i class="fa fa-sliders" aria-hidden="true"></i>
    </button>

  </div>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex'
import { saveAs } from 'file-saver';
export default {
  name: "Exports",
  components: {
    'saveAs': saveAs,
  },
  props: [
    'enable_downloads', 'endpoint'
  ],
  data() {
    return {
    };
  },
  methods: {
    displayPdfBuilder: function() {
      //console.log(this.getIncludeDeletedFields())
      this.togglePdfBuilderMode()
    },
    generateJSON: function() {
      var result = []
      var items = this.getItemsToDisplay()
      var field_index = this.getFieldIndex()
      var file_name = this.getName() + ".json"
      items.forEach((item) => {
        var obj = new Object();
        for(let i = 0; i < field_index.length; i++) {
          var field = field_index[i]
          if (field.name == 'marked') {
            obj.marked = item.marked
          }
          else if (field.name == 'created') {
            obj.created = item.created
          }
          else {
            var field_value = item.data[field.name] === undefined ? "" : item.data[field.name]
            if (field.name.startsWith('checkbox') ||
                field.name.startsWith('radio-group') ||
                field.name.startsWith('select')) {

              var option_values = []
              var values = field_value.split(', ')
              values.forEach((value) => {
                var label = this.getOptionLabel({'field_name': field.name,
                                                 'option_value': value})
                option_values.push(label)
              });
              obj[field.label] = option_values.join(', ')
            } else {
              obj[field.label] = field_value
            }
          }
        }
        result.push(JSON.stringify(obj))
      });
      var blob = new Blob(result, {type: "application/json;charset=utf-8"});
      saveAs(blob, file_name);
    },
    ...mapGetters([
      'getExportsEnabled', 'getGraphsEnabled', 'getIncludeDeletedFields',
      'getFieldIndex', 'getItemsToDisplay', 'getName'
    ]),
    ...mapMutations([
      'togglePdfBuilderMode'
    ])
  },
  computed: {
    stats_endpoint: function() {
      return this.endpoint + "/stats"
    },
    csv_endpoint: function() {
      var csv_endpoint = this.endpoint + "/csv"
      //console.log(this.getIncludeDeletedFields())
      if (this.getIncludeDeletedFields() == true) {
        return csv_endpoint + '?with_deleted_columns=true'
      } else {
        return csv_endpoint
      }
    },
    exports_enabled: function() {
      return this.getExportsEnabled()
    },
    graphs_enabled: function() {
      return this.getGraphsEnabled()
    },
    ...mapGetters([
      'getOptionLabel'
    ]),
  }
};
</script>

<style>

</style>
