<!--
This file is part of LiberaForms.

# SPDX-FileCopyrightText: 2021 LiberaForms.org
# SPDX-License-Identifier: AGPL-3.0-or-later
-->

<template>
  <div class="row">
    <div class="col-sm-4">

      <!-- filter -->
      <div class="input-group mb-3">
        <input type="text"
               v-model="filter_text"
               class="form-control"
               :placeholder="$t('Filter ...')"
               :aria-label="$t('Filter text')"
               aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button v-on:click="clear_filter"
                  :disabled="filter_text == ''"
                  class="btn btn-outline-secondary appended-button"
                  alt_text="Clear filter"
                  type="button">
            <i class="fa fa-step-backward" aria-hidden="true"></i>
          </button>
        </div>
      </div>

    </div>
    <div class="col-sm-4">

      <!-- order by -->
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">
            {{ $t("Order by") }}
          </span>
        </div>
        <select @change="change_order_by($event)"
                class="custom-select"
                id="fieldSelector"
                aria-label="Order data by this field">
          <option v-for="field in default_field_index" :key="field.name"
                  v-if="field.name != 'marked'"
                  :selected="order_by === field.name"
                  v-bind:value="field.name">
            {{ $t(field.label) }}
          </option>
        </select>
        <div class="input-group-append">
          <button type="button"
                  v-on:click="toggle_ascending"
                  aria-label="Toggle ascending order"
                  class="btn btn-outline-secondary appended-button">
            <i v-if="ascending"
               class="fa fa-sort-amount-asc" aria-hidden="true"></i>
            <i v-else
               class="fa fa-sort-amount-desc" aria-hidden="true"></i>
          </button>
        </div>
      </div>

    </div>
    <div class="col-sm-4">

      <!-- first field -->
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">
            {{ $t("First field") }}
          </span>
        </div>
        <select @change="change_index($event)"
                class="custom-select"
                id="fieldSelector"
                aria-label="Select first field to display">
          <option v-for="field in default_field_index" :key="field.name"
                  v-if="field.name != 'marked'"
                  :selected="first_field.name === field.name"
                  v-bind:value="field.name">
            {{ $t(field.label) }}
          </option>
        </select>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary appended-button"
                  type="button"
                  v-on:click="reset_field_index">
            <i class="fa fa-undo" aria-label="Reset"></i>
          </button>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
import { mapMutations, mapGetters, mapActions } from 'vuex'
import axios from 'axios';

export default {
  name: "Filters",
  props: [
    'field_index', 'endpoint'
  ],
  data() {
    return {
      filter_text: "",
    };
  },
  mounted() {

  },
  methods: {
    change_index: function (event) {
      var self = this;
      axios.post(this.endpoint + '/change-index', {
        field_name: event.target.value
      })
      .then(function (response) {
        self.setFieldIndex(response.data.field_index)
        //self.$forceUpdate();
      })
      .catch(function (error) {
        console.log(error);
      });
    },
    change_order_by: function (event) {
      this.setOrderBy(event.target.value)
    },
    reset_field_index: function (event) {
      var self = this;
      axios.post(this.endpoint + '/reset-index')
      .then(function (response) {
        self.setFieldIndex(response.data.field_index)
        //self.$forceUpdate();
      })
      .catch(function (error) {
        console.log(error);
      })
      .finally(function (){
        //console.log(self.first_field.name)
        //self.$forceUpdate();
      });
    },
    toggle_ascending: function (event) {
      var ascending = this.ascending ? false : true
      this.setAscending(ascending)
    },
    clear_filter: function () {
      this.filter_text = ""
    },
    ...mapMutations([
      'setFieldIndex', 'setOrderBy', 'setAscending'
    ]),
    ...mapGetters([
      'getDefaultFieldIndex', 'getFirstField', 'getOrderBy', 'getAscending'
    ]),
    ...mapActions([
      'filterItems'
    ]),
  },
  watch: {
    filter_text: function(val) {
      this.filterItems(val)
    },
  },
  computed: {
    default_field_index: function() {
      return this.getDefaultFieldIndex()
    },
    ascending: function() {
      return this.getAscending()
    },
    order_by: function() {
      return this.getOrderBy()
    },
    first_field: function() {
      return this.getFirstField()
    }
  }
};
</script>

<style>

</style>
