<!--
This file is part of LiberaForms.

# SPDX-FileCopyrightText: 2021 LiberaForms.org
# SPDX-License-Identifier: AGPL-3.0-or-later
-->

<template>
  <div>

    <!-- toggle expanded view -->
    <div class="btn-group btn-toggle-group"
         v-if="mq != 'sm'"
         v-on:click="toggleExpandedView">
      <button class="btn btn-sm"
             :class="expanded_view==false ? 'btn-primary' : 'btn-outline-secondary'">
        {{ $t("Table") }}
      </button>
      <button class="btn btn-sm"
              :class="expanded_view==true ? 'btn-primary' : 'btn-outline-secondary'">
        {{ $t("Cards") }}
      </button>
    </div>

    <!-- edit mode -->
    <button v-if="can_edit == true"
            class="btn btn-sm"
            :class="edit_mode==true ? 'btn-success' : 'btn-outline-secondary'"
            v-on:click="toggle_edit_mode">
      {{ $t("Edit") }}
      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
    </button>

    <a v-if="edit_mode==true"
       class="btn btn-warning btn-sm"
       role="button"
       :href="endpoint+'/delete-all-items'">
        {{ $t("Delete all") }}
    </a>

    <!-- show deleted fields -->
    <button v-if="can_edit == true && has_deleted_fields == true"
            class="btn btn-sm"
            :class="show_deleted==false ? 'btn-outline-secondary' : 'btn-success'"
            v-on:click="toggle_deleted_fields">
      {{ $t("Deleted fields") }} <i class="fa fa-eye" aria-hidden="true"></i>
    </button>

  </div>
</template>


<script>
import { mapGetters, mapMutations, mapActions } from 'vuex'
import { bus } from '../../loaders/dataDisplayLoader'

export default {
  name: "Modes",
  props: [
    'mq', 'can_edit', 'edit_mode'
  ],
  data() {
    return {
      show_deleted: false,
      requested_deleted_data: false,
    };
  },
  methods: {
    toggle_edit_mode: function (event) {
      bus.$emit('toggle_edit_mode');
    },
    toggle_deleted_fields: function () {
      this.show_deleted = this.show_deleted ? false : true
      this.setIncludeDeletedFields(this.show_deleted)
    },
    ...mapMutations([
      'toggleExpandedView', 'setIncludeDeletedFields'
    ]),
    ...mapGetters([
      'getEndpoint', 'getExpandedViewState', 'getDeletedFields'
    ])
  },
  watch: {

  },
  computed: {
    endpoint: function() {
      return this.getEndpoint()
    },
    expanded_view: function() {
      return this.getExpandedViewState()
    },
    has_deleted_fields: function() {
      return this.getDeletedFields().length > 0 ? true : false
    },
  }
};
</script>

<style>

</style>
