<!--
This file is part of LiberaForms.

# SPDX-FileCopyrightText: 2021 LiberaForms.org
# SPDX-License-Identifier: AGPL-3.0-or-later
-->

<template>
  <div>

    <nav aria-label="Paginate items">
      <ul class="pagination justify-content-end">

        <li style="margin-right: 1.5em">
          <span class="page_count_display">
            {{ getDisplayingItemsMessage() }}
          </span>
        </li>

        <li class="page-item"
            :class="{disabled: page_number==1}">
          <a class="page-link"
             v-on:click="decrement_page">
            {{ $t("Previous") }}
          </a>
        </li>

        <template v-for="page in total_pages">
          <li v-if="show_page_item(page) === true"
              class="page-item page-counter"
              :class="{active: page==page_number}">
            <a class="page-link"
               v-on:click="set_page(page)">
              {{ page }}
            </a>
          </li>
          <li v-else-if="show_page_item(page) === false"
              class="page-item page-counter disabled"
              :class="{active: page==page_number}">
            <a class="page-link">
              ...
            </a>
          </li>
        </template>

        <li class="page-item"
            :class="{disabled: page_number==total_pages}">
          <a class="page-link"
             v-on:click="increment_page">
             {{ $t("Next") }}
          </a>
        </li>

      </ul>
    </nav>

  </div>
</template>

<script>
import { mapMutations, mapGetters } from 'vuex'
export default {
  name: "Pagination",
  props: [],
  data() {
    return {

    };
  },
  methods: {
    show_page_item: function(page) {
      if (this.total_pages <= 7) {
        //console.log("show all")
        return true
      }
      if (page == this.page_number ||
          page == 1 ||
          page == this.total_pages) {
        return true
      }
      if (page <= 5 && this.page_number < 4) {
        return true
      }
      if (page == 6 && this.page_number < 5) {
        return false
      }
      if (page >= this.total_pages -4 && this.page_number > this.total_pages -3 ) {
        return true
      }
      if (page == this.total_pages -5 && this.page_number > this.total_pages -4) {
        return false
      }
      if (this.page_number >= 4) {
        if (page == this.page_number -1 || page == this.page_number +1) {
          return true
        } else if (page == this.page_number -2 || page == this.page_number +2){
          return false
        }
      }
      return null
    },
    decrement_page: function() {
      this.setPage(this.page_number-1);
    },
    increment_page: function() {
      this.setPage(this.page_number+1);
    },
    set_page: function(page_number) {
      this.setPage(page_number)
    },
    ...mapMutations([
      'setPage'
    ]),
    ...mapGetters([
      'getPage', 'getPageLength', 'getDisplayingItemsMessage', 'getItemsToDisplay'
    ]),
  },
  watch: {
    total_pages: function(val) {
      this.setPage(1)
    },
  },
  computed: {
    total_pages: function() {
      var total_items_count = this.getItemsToDisplay().length
      return Math.ceil(total_items_count / this.page_length)
    },
    page_number: function() {
      return this.getPage()
    },
    page_length: function() {
      return this.getPageLength()
    },
  },
};
</script>

<style scoped>
.page_count_display {
  display: inline-block;
  margin-top: 0.45em;
}
.page-counter {
  width: 38px;
  text-align: center;
}
</style>
