<!--
This file is part of LiberaForms.

# SPDX-FileCopyrightText: 2021 LiberaForms.org
# SPDX-License-Identifier: AGPL-3.0-or-later
-->

<template>
  <div>
    <div class="col text-center mb-4">
      Displaying {{ items.length }} of {{ items.length }}
    </div>
    <Card v-for="item in items" :key="item.id"
          v-bind:item="item"
          v-bind:fields="fields"
          v-bind:can_edit="can_edit"
          v-bind:edit_mode="edit_mode"
          v-bind:expand_all="false">
    </Card>
    <go-top :max-width="150"
            :size="40"
            :bottom="40"
            :right="40"
            bg-color="#7C5774">
    </go-top>
  </div>
</template>

<script>
import GoTop from '@inotom/vue-go-top';
import Card from './card.vue'

export default {
  name: "Cards",
  components: {
    'GoTop': GoTop,
    'Card': Card,
  },
  props: [
    'mq',
    'can_edit',
    'fields',
    'items',
    'edit_mode',
  ],
  data() {
    return {  }
  },
  ready: function () {

  },
  created() {

  },
  mounted() {


  },
  methods: {

  },
  computed: {

  },
};
</script>

<style scoped>
.panel_visible {

}
</style>
