<!--
This file is part of LiberaForms.

# SPDX-FileCopyrightText: 2021 LiberaForms.org
# SPDX-License-Identifier: AGPL-3.0-or-later
-->

<template>
  <div class="card">

      <div class="card_header">
        <button v-if="my_expanded == false"
                class="expand_card btn btn-sm btn-primary btn-rounded"
                v-on:click="toggle_my_expanded()"
                v-bind:aria-label="$t('Expand')">
         <i class="fa fa-arrow-down"
            aria-hidden="true">
         </i>
        </button>
        <button v-else
                class="expand_card btn btn-sm btn-primary btn-rounded"
                v-on:click="toggle_my_expanded()"
                v-bind:aria-label="$t('Collapse')">
         <i class="fa fa-arrow-up"
            aria-hidden="true">
         </i>
        </button>

        <RowControls v-if="(can_edit && item.marked !== undefined) || edit_mode"
                     v-bind:item_id="item.id"
                     v-bind:marked="item.marked"
                     v-bind:edit_mode="edit_mode">
        </RowControls>
        <FieldRender v-bind:field_name="title_field.name"
                     v-bind:field_value="title_field.value"
                     v-bind:item_id="item.id"
                     v-bind:edit_mode="edit_mode">
        </FieldRender>
      </div>

      <div v-if="my_expanded == true"
           :class="{'card-data-flex-container': expand_all == true}">

        <template v-for="(field, index) in fields">
          <div v-if="field.name != 'marked'"
               :class="{'card-data-flex': expand_all == true}">
            <div class="field_label"
                 :class="{deletedFieldLabel: is_deleted_field(field.name)}">
              {{ field.label }}
            </div>
            <FieldRender v-bind:field_name="field.name"
                         v-bind:field_value="field.name == 'created' ? item.created :
                                             item.data[field.name]"
                         v-bind:item_id="item.id"
                         v-bind:edit_mode="field.name != 'created' ? false : edit_mode">
            </FieldRender>
          </div>
        </template>

      </div>

  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import RowControls from './rowControls.vue'
import FieldRender from './fieldRender.vue'

export default {
  name: "Card",
  components: {
    'RowControls' : RowControls,
    'FieldRender' : FieldRender,
  },
  props: [
    'fields',
    'item',
    'can_edit',
    'edit_mode',
    'expand_all'
  ],
  data() {
    return {
      my_expanded: false,
    };
  },
  ready: function () {

  },
  mounted() {
    this.my_expanded = this.expand_all
  },
  methods: {
    toggle_my_expanded() {
      this.my_expanded = this.my_expanded ? false : true
    },
    ...mapGetters([
      'getFirstField', 'getIsDeletedField'
    ]),
  },

  computed: {
    title_field: function() {
      var first_field = this.getFirstField()
      if (first_field.name == 'created') {
        return {'name': 'created', 'value': this.item.created}
      }
      return {'name': first_field.name, 'value': this.item.data[first_field.name]}
    },
    is_deleted_field: function(field_name) {
      return this.getIsDeletedField(field_name)
    },
  },
};
</script>

<style>
.rowControls {
  display: inline;
}
.card {
  border: 0;
  border-radius: 0;
  border-top: 1px solid lightgray;
  padding-top: 1em;
  margin-bottom: 1em;
}
.card_header {
  max-width: 100%;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
	text-overflow: ellipsis;
}
.expand_card {
  padding-left: 0.4em;
  padding-right: 0.4em;
}
.field_label {
  margin-top: 1em;
  font-weight: bold;
}
.card-data-flex-container {
  margin: 1em 0 0.4em 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card-data-flex {
  flex: 1 1 auto;
  border-left: #ddd 1px solid;
  padding: 0 0.5em 0.75em 0.5em;
}
</style>
