<!--
This file is part of LiberaForms.

# SPDX-FileCopyrightText: 2021 LiberaForms.org
# SPDX-License-Identifier: AGPL-3.0-or-later
-->

<template>
  <span v-if="field_name.endsWith('__html')"
        v-html="field_value.html"
        class="field-value">
  </span>
  <span v-else-if="field_name.startsWith('file-')"
        v-html="formatted_value()"
        class="field-value"
        :class="[empty_field ? 'emptyField' : '']">
  </span>
  <span v-else
        v-on:click="show_modal(field_name, field_value)"
        :class="[edit_mode && is_editable(field_name) ? 'editMode' : '',
                 empty_field ? 'emptyField' : '',
                 is_editable(field_name) ? 'field-value' : '']">
    {{ formatted_value() }}
  </span>
</template>

<script>
import { bus } from '../../loaders/dataDisplayLoader'
import moment from 'moment';
import { mapGetters } from 'vuex'

export default {
  name: "FieldRender",
  components: {
  },
  props: [
    'field_name',
    'field_value',
    'edit_mode',
    'item_id'
  ],
  data() {
    return { 'modal_show': false };
  },
  methods: {
    formatted_value: function() {
      if (this.field_name == 'created') {
        return moment(this.field_value).format("YYYY-MM-DD kk:mm:ss")
      }
      if (this.empty_field) {
        return this.$t("Empty")
      }
      if (this.field_name.startsWith('checkbox') ||
          this.field_name.startsWith('radio-group') ||
          this.field_name.startsWith('select')){
        var result = []
        var values = this.field_value.split(', ')
        values.forEach((value) => {
          var label = this.getOptionLabel({'field_name': this.field_name,
                                           'option_value': value})
          result.push(label)
        });
        if (result.length > 0) {
          return result.join(', ')
        }
      }
      return this.field_value
    },
    is_editable: function(field_name) {
      if (!(field_name == 'created' || field_name == 'DPL')) {
        return true
      }
      return false
    },
    show_modal: function() {
      //console.log(this.item_id +" "+ this.field_name+" "+this.field_value)
      if (this.is_editable(this.field_name) == true) {
        bus.$emit('show_field_editor', this.item_id, this.field_name, this.field_value);
      }
    }
  },
  computed: {
    empty_field: function() {
      if (this.field_value === undefined || this.field_value === '') {
        return true
      }
      return false
    },
    ...mapGetters([
      'getOptionLabel'
    ]),
  },
};
</script>

<style scoped>
span > a {
  /*padding: 0 0.5em 0 1em;*/
  padding-right: 1em;
}
span.editMode {
  text-decoration: underline wavy #BA1C1C;
}
span.emptyField {
  color: gray;
  font-style: italic;
}
.field-value {
  cursor: pointer;
}
</style>
