<!--
This file is part of LiberaForms.

# SPDX-FileCopyrightText: 2021 LiberaForms.org
# SPDX-License-Identifier: AGPL-3.0-or-later
-->

<template>
  <tr :class="[highlighted ? 'highlighted' : '']"
      v-on:click="hightlightRow">
    <template v-for="(field, index) in fields">
      <td v-if="field.name == 'marked'"
          class="stickyColumn first_sticky_col">
        <RowControls v-bind:item_id="item.id"
                     v-bind:marked="item.marked"
                     v-bind:edit_mode="edit_mode">
        </RowControls>
      </td>
      <td v-else
          :class="[sticky_data_col_class(index), highlighted ? 'highlighted' : '']">
        <div :style="col_width_css">
          <FieldRender v-bind:field_name="field.name"
                       v-bind:field_value="field.name == 'created' ? item.created :
                                           item.data[field.name]"
                       v-bind:item_id="item.id"
                       v-bind:edit_mode="field.name == 'created' ? false : edit_mode">
          </FieldRender>
        </div>
      </td>
    </template>
  </tr>
</template>


<script>
import { mapGetters } from 'vuex'
import { bus } from '../../loaders/dataDisplayLoader'
import RowControls from './rowControls.vue'
import FieldRender from './fieldRender.vue'

export default {
  name: "GridRow",
  components: {
    'RowControls': RowControls,
    'FieldRender': FieldRender,
  },
  props: ["item", "fields", "edit_mode", "has_row_controls",
          "col_width_css", "is_data_sticky"],
  data() {
    return {
      "highlighted": false,
    };
  },
  ready: function () {

  },
  created() {
    bus.$on('rowHighlighted', (item_id) => {
      if (item_id !== this.item.id) {
        this.highlighted = false
      }
    });
  },
  mounted() {


  },

  methods: {
    hightlightRow() {
      this.highlighted = true
      bus.$emit('rowHighlighted', this.item.id);
    },
    sticky_data_col_class(col_index) {
      if (this.is_data_sticky == false) {
        return ""
      }
      if (col_index == 0 && this.has_row_controls==false) {
        return "stickyColumn first_sticky_col sticky_data_col"
      }
      if (col_index == 1) {
        if (this.edit_mode) {
          return "stickyColumn sticky_data_col sticky_data_col_with_controls_expanded";
        }
        if (this.has_row_controls) {
          return "stickyColumn sticky_data_col sticky_data_col_with_controls";
        }
      }
      return ""
    },
  },

  computed: {

  },
};
</script>

<style scoped>
.highlighted {
  background-color: #ede0aa;
}
</style>
