<!--
This file is part of LiberaForms.

# SPDX-FileCopyrightText: 2021 LiberaForms.org
# SPDX-License-Identifier: AGPL-3.0-or-later
-->

<template>
  <div style="margin-top: 0.5em;">

    <table class="table table-sm"
           ref="table">
      <thead>
        <tr>
          <template v-for="(field, index) in fields">
            <th v-if="field.name == 'marked'"
                class="stickyColumn first_sticky_col">
              <div class="nonEditMode"></div>
            </th>
            <th v-else
                v-bind:class="sticky_data_col_class(index)">
              <div :style="col_width_css"
                   v-on:click="setOrder(field.name)"
                   :class="{deletedFieldLabel: is_deleted_field(field.name)}">
                {{ $t(field.label) }}
              </div>
            </th>
          </template>
        </tr>
      </thead>
      <tbody>
        <GridRow v-for="item in displayed_items" :key="item.id"
                 v-bind:item="item"
                 v-bind:fields="fields"
                 v-bind:edit_mode="edit_mode"
                 v-bind:has_row_controls="has_row_controls"
                 v-bind:is_data_sticky="is_data_sticky"
                 v-bind:col_width_css="col_width_css">
        </GridRow>
      </tbody>
    </table>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import GridRow from './gridRow.vue'


export default {
  name: "Grid",
  components: {
    'GridRow': GridRow,
  },
  props: [
    'can_edit',
    'fields',
    'items',
    'edit_mode'
  ],
  data() {
    return {
      grid_width: 0,
      column_width: 0,
      is_data_sticky: false,
    };
  },
  ready: function () {

  },
  created() {

  },
  mounted() {
    this.grid_width = this.$refs.table.clientWidth
    var fields_count = this.fields.length
    var occupied_width = 0
    if (this.has_row_controls == true){
      occupied_width = 59
      fields_count = fields_count - 1
    }
    var cel_padding = fields_count * 10
    var col_width = ((this.grid_width - occupied_width  - cel_padding) / (fields_count))
    if (col_width < 150) {
      this.is_data_sticky = true
      col_width = 150
    }
    this.column_width = col_width
  },
  methods: {
    sticky_data_col_class(col_index) {
      if (this.is_data_sticky == false) {
        return ""
      }
      if (col_index == 0 && this.has_row_controls==false) {
        return "stickyColumn first_sticky_col sticky_data_col"
      }
      if (col_index == 1) {
        if (this.edit_mode) {
          return "stickyColumn sticky_data_col sticky_data_col_with_controls_expanded";
        }
        if (this.has_row_controls) {
          return "stickyColumn sticky_data_col sticky_data_col_with_controls";
        }
      }
      return ""
    },
    ...mapGetters([
      'getPage',
      'getPaginatedItems', 'getIsDeletedField',
      'getHasRowControls'
    ]),
    ...mapActions([
      'setOrder'
    ]),
  },
  watch: {

  },
  computed: {
    has_row_controls: function() {
      return this.getHasRowControls()
    },
    displayed_items: function() {
      return this.getPaginatedItems()
    },
    is_deleted_field: function(field_name) {
      return this.getIsDeletedField(field_name)
    },
    table_width: function() {
      if (this.$refs.table === undefined) {
        return 0
      }
      return this.$refs.table.clientWidth
    },
    control_col_width: function() {
      if (this.has_row_controls && this.edit_mode == false) {
        return 27
      }
      if (this.has_row_controls && this.edit_mode == true) {
        return 59
      }
      return 0
    },
    col_width_css() {
        return {
          'width': this.column_width + 'px',
          'min-width': this.column_width + 'px',
          'max-width': this.column_width + 'px'
        }
    },
  },
};
</script>

<style>
table {
  table-layout:fixed;
  display: block;
  overflow-x: auto;
  text-align: left;
  border-collapse: separate;
  border-spacing: 0px;
}
table th {
  cursor: pointer;
}
table th,
table tr > td
{
	padding: 0 9px;
	text-align: left;
  vertical-align: middle !important;
}
th > div,
td > div {
  white-space: nowrap;
  overflow: hidden;
	text-overflow: ellipsis;
}

table th:not(:last-child),
table tr > td:not(:last-child)
{
  border-right: 1px solid #dee2e6;
}
th > div.nonEditMode,
td > div.nonEditMode {
  /*
  width: 27px;
  max-width: 27px;
  */
}
th > div.editMode,
td > div.editMode {
  /*
  width: 59px;
  max-width: 59px;
  */
}

.stickyColumn {
  position: -webkit-sticky;
  position: sticky;
  background-color: white;
  background-clip: padding-box;
  z-index: 2;
}
.first_sticky_col {
  left: 0px;
}
.sticky_data_col_with_controls {
  left: 42px;
}
.sticky_data_col_with_controls_expanded {
  left: 79px;
}
.sticky_data_col {
  width: 150px !important;
  min-width: 150px !important;
  max-width: 150px !important;
}
</style>
