<!--
This file is part of LiberaForms.

# SPDX-FileCopyrightText: 2021 LiberaForms.org
# SPDX-License-Identifier: AGPL-3.0-or-later
-->

<template>
  <div>
    <div class="row mb-2">
      <div class="col">
        <div style="font-size: 1.25em">
          <i class="fa fa-sliders" aria-hidden="true"></i>
          {{$t("PDF settings")}}
        </div>
      </div>
    </div>
    <div class="row">

      <div class="col-auto" style="margin-top: 0.3em;">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span id="inputGroup-sizing-sm"
                  class="input-group-text">
              {{ $t("Only marked") }}
              <span class="badge badge-pill badge-success"
                    style="padding: 0.5em 0.7em 0.5em 0.7em; margin-left: 0.5em">
                <i class="fa fa-thumb-tack"
                   aria-hidden="true">
                </i>
              </span>
            </span>
          </div>
        <div class="input-group-append btn-toggle-group"
             v-on:click="toggleOnlyMarked">
          <button class="btn"
                 :class="only_marked_items==true ? 'btn-primary' : 'btn-outline-secondary'">
            {{ $t("True") }}
          </button>
          <button class="btn"
                  :class="only_marked_items==false ? 'btn-primary' : 'btn-outline-secondary'">
            {{ $t("False") }}
          </button>
        </div>
        </div>
      </div>

      <div class="col-auto" style="margin-top: 0.3em;">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span id="inputGroup-sizing-sm"
                  class="input-group-text">
              {{ $t("Font size") }}
            </span>
          </div>
          <select @change="setFontSize($event)"
                  class="custom-select"
                  aria-describedby="inputGroup-sizing-sm"
                  id="fontSize"
                  aria-label="Select font size">
            <option v-for="size in font_sizes" :key="size"
                    :selected="font_size === size"
                    v-bind:value="size">
              {{ size }}
            </option>
          </select>
        </div>
      </div>

      <div class="col-auto" style="margin-top: 0.3em;">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span id="inputGroup-sizing-sm"
                  class="input-group-text">
              {{ $t("Page") }}
            </span>
          </div>
          <select @change="setPageSize($event)"
                  class="custom-select"
                  aria-describedby="inputGroup-sizing-sm"
                  id="fontSize"
                  aria-label="Select font size">
            <option v-for="(size, val, index) in page_sizes"
                    :selected="page_size === size"
                    v-bind:value="val">
              {{ size }}
            </option>
          </select>
        </div>
      </div>

      <div class="col-auto" style="margin-top: 0.3em;">
        <div class="btn-group btn-toggle-group mb-3"
             v-on:click="toggleOrientation">
          <button class="btn"
                 :class="portait==true ? 'btn-primary' : 'btn-outline-secondary'">
            {{ $t("Portait") }}
          </button>
          <button class="btn"
                  :class="portait==false ? 'btn-primary' : 'btn-outline-secondary'">
            {{ $t("Landscape") }}
          </button>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col">
        <div style="font-size: 1.25em">
          {{$t('Select the fields to include in the PDF')}}
        </div>
        <hr />
        <template v-for="(field, index) in fields">
          <input :id="index"
                 :key="field.name"
                 type="checkbox"
                 :value="field.name"
                 v-on:click="selectField(field.name)">
          <label :for="index">
            {{getFieldLabel(field.name)}}
          </label>
          <br>
        </template>
        <hr />
        <button class="btn btn-primary"
                v-on:click="togglePdfBuilderMode">
          {{ $t('Cancel') }}
        </button>
        <button class="btn btn-success"
                v-on:click="generatePDF">
          {{ $t('Download PDF') }}
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex'
import jsPDF from 'jspdf'
import 'jspdf-autotable'
import moment from 'moment';

export default {
  name: "PdfBuilder",
  components: {
  },
  props: [
    'fields', 'items'
  ],
  data() {
    return {
      portait: true,
      font_sizes: [10, 9, 8, 7, 6, 5],
      font_size: 8,
      page_sizes: {'a4': 'A4', 'a3': 'A3', 'letter': 'Letter', 'ledger':'Ledger'},
      page_size: 'A4',
      only_marked_items: false,
      selected_fields: []
    };
  },
  methods: {
    toggleOrientation: function() {
      this.portait = this.portait ? false : true
    },
    toggleOnlyMarked: function() {
      this.only_marked_items = this.only_marked_items ? false : true
    },
    setFontSize: function (event) {
      this.font_size = event.target.value
    },
    setPageSize: function (event) {
      this.page_size = event.target.value
    },
    selectField: function(field_name) {
      if (this.selected_fields.includes(field_name)) {
        this.selected_fields.splice(this.selected_fields.indexOf(field_name), 1)
      } else {
        this.selected_fields.push(field_name)
      }
    },
    getHeader: function() {
      var self = this
      var columns = []
      this.fields.forEach((field, i) => {
        if (self.selected_fields.includes(field.name)) {
          columns.push(field.label)
        }
      });
      return [columns]
    },
    getRows: function() {
      var rows = []
      for (let i in this.items) {
        var item = this.items[i]
        if (this.only_marked_items && item.marked!=true) {
          continue
        }
        var row = []
        for (let f in this.fields) {
          var field = this.fields[f]
          var value = ""
          if (this.selected_fields.includes(field.name)) {
            if (field.name == 'marked') {
              value = item.marked ? this.$t("True") : this.$t("False")
            } else if (field.name == 'created') {
              value = moment(item.created).format("YYYY-MM-DD kk:mm:ss")
            } else if (item.data[field.name] !== undefined) {
              var payload = {'field_name': field.name,
                             'field_value': item.data[field.name]}
              value = this.getFormattedValue(payload)
            }
            if (!(value)) {
              value = this.$t("Empty")
            }
            row.push(value)
          }
        }
        rows.push(row)
      }
      return rows
    },
    generatePDF: function() {
      const doc = new jsPDF({
                      orientation: this.portait ? 'p' : 'l',
                      format: this.page_size
                  })
      var totalPagesExp = '{total_pages_count_string}'
      var pdf_name = this.getName()
      var page_string = this.$t("Page")
      doc.autoTable({
        theme: 'grid',
        headStyles: {fontWeight: 'normal',
                     overflow: 'ellipsize',
                     fontSize: this.font_size,
                     fillColor: '#666'},
        bodyStyles: {fontSize: this.font_size},
        head: this.getHeader(),
        body: this.getRows(),
        didDrawPage: function (data) {
          // Header
          doc.setFontSize(14)
          doc.setTextColor(32, 32, 32)
          // (x,y)
          doc.text(pdf_name, data.settings.margin.left + 0, 12)

          // Footer
          var str = page_string + ' ' + doc.internal.getNumberOfPages()
          if (typeof doc.putTotalPages === 'function') {
            str = str + ' of ' + totalPagesExp
          }
          doc.setFontSize(10)

          // jsPDF 1.4+ uses getWidth, <1.4 uses .width
          var pageSize = doc.internal.pageSize
          var pageHeight = pageSize.height ? pageSize.height : pageSize.getHeight()
          doc.text(str, data.settings.margin.left, pageHeight - 10)
        }
      })
      if (typeof doc.putTotalPages === 'function') {
        doc.putTotalPages(totalPagesExp)
      }
      doc.save(pdf_name + '.pdf')
    },
    ...mapGetters([
      'getName'
    ]),
    ...mapMutations([
      'togglePdfBuilderMode'
    ])
  },
  computed: {
    ...mapGetters([
      'getFieldLabel', 'getFormattedValue'
    ]),
  },
};
</script>

<style scope>
label {
  font-size: 1rem;
}
/*
.input-group-text {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
*/
</style>
