<!--
This file is part of LiberaForms.

# SPDX-FileCopyrightText: 2021 LiberaForms.org
# SPDX-License-Identifier: AGPL-3.0-or-later
-->

<template>
  <div class="rowControls"
       :class="edit_mode ? 'editMode' : 'nonEditMode'">

    <button class="btn btn-sm btn-rounded btn-icon"
           v-on:click="toggle_marked"
           :aria-label="$t('Mark for reference')"
           :class="marked ? 'btn-success' : 'btn-outline-secondary'">
     <i class="fa fa-thumb-tack"
        aria-hidden="true">
     </i>
    </button>

    <button v-if="edit_mode==true"
            class="btn btn-sm btn-rounded"
            :class="delete_btn_class"
            :aria-label="$t('Delete answer')"
            v-on:click="delete_item">
      <i class="fa fa-trash"
         aria-hidden="true">
      </i>
    </button>

  </div>
</template>

<script>
import { mapMutations, mapGetters } from 'vuex'
import axios from 'axios';
import { bus } from '../../loaders/dataDisplayLoader'

export default {
  name: "RowControls",
  props: ['item_id', 'marked', 'edit_mode'],
  data() {
    return {
      delete_warning: 0,
    };
  },
  methods: {
    toggle_marked: function (event) {
      this.markItem({'id':this.item_id,
                     'endpoint':this.endpoint
                   })
    },
    delete_item: function() {
      if (this.delete_warning < 2) {
        this.delete_warning = ++this.delete_warning
        return
      }
      axios.delete(this.endpoint + '/delete')
        .then(response => {
          if (response.data.deleted == true) {
            this.removeItem(this.item_id)
          }
        })
        .catch(e => {
          console.log(e)
        })
    },
    edit_row: function (event) {
      bus.$emit('editItem', this.item_id);
    },
    ...mapMutations([
      'markItem', 'removeItem'
    ]),
    ...mapGetters([
      'getItemEndpoint'
    ]),
  },
  computed: {
    endpoint: function() {
      return this.getItemEndpoint() + this.item_id
    },
    delete_btn_class: function() {
      return {
        "btn-outline-secondary": this.delete_warning == 0,
        "btn-warning": this.delete_warning == 1,
        "btn-danger": this.delete_warning == 2,
      }
    }
  },
};
</script>

<style scoped>
.rowControls .btn :not(:last-child) {

}
.btn {
  margin-right: 0.25em;
}
</style>
