<!--
This file is part of LiberaForms.

# SPDX-FileCopyrightText: 2021 LiberaForms.org
# SPDX-License-Identifier: AGPL-3.0-or-later
-->

<template>
  <div v-if="is_downloading == true">
    <hr />
    <div class="loading">
      Loading...
    </div>
  </div>
  <div v-else>
    <FieldEditor v-bind:can_edit="can_edit"
                 v-bind:edit_mode="edit_mode">
    </FieldEditor>

    <TogglePanel v-if="$mq == 'sm'"
                 v-bind:show_panel="show_panel"
                 @togglePanel="togglePanel">
    </TogglePanel>

    <slide-up-down :active="show_panel"
                   :duration="$mq == 'sm' ? 200 : 0"
                   id="slide_down">
      <Panel :mq="$mq"
             v-bind:can_edit="can_edit"
             v-bind:edit_mode="edit_mode"
             v-bind:pdf_builder_mode="pdf_builder_mode"
             v-bind:endpoint="endpoint"
             v-bind:field_index="field_index">
      </Panel>
    </slide-up-down>


    <h2 v-if="displayed_items.length == 0"
         class="no-data text-center">
      No data
    </h2>
    <template v-else>
      <template v-if="pdf_builder_mode == false">
        <template v-if="$mq != 'sm'">
          <Grid v-if="expanded_view == false"
                v-bind:fields="field_index"
                v-bind:items="displayed_items"
                v-bind:can_edit="can_edit"
                v-bind:mq="$mq"
                v-bind:edit_mode="edit_mode">
          </Grid>
          <Expanded v-else
                    v-bind:fields="field_index"
                    v-bind:items="displayed_items"
                    v-bind:can_edit="can_edit"
                    v-bind:mq="$mq"
                    v-bind:edit_mode="edit_mode">
          </Expanded>
        </template>
        <Cards v-else
               v-bind:fields="field_index"
               v-bind:items="displayed_items"
               v-bind:can_edit="can_edit"
               v-bind:mq="$mq"
               v-bind:edit_mode="edit_mode">
        </Cards>
      </template>
      <PdfBuilder v-else
                  v-bind:items="getItemsToDisplay()"
                  v-bind:fields="field_index">
      </PdfBuilder>

    </template>

  </div>
</template>

<script>
import { mapMutations, mapGetters, mapActions } from 'vuex'
import axios from 'axios';
import { bus } from '../loaders/dataDisplayLoader'
import TogglePanel from './togglePanel.vue';
import SlideUpDown from 'vue-slide-up-down'
import Panel from './panel.vue';
import Grid from './displays/grid.vue';
import Expanded from './displays/expanded.vue';
import Cards from './displays/cards.vue';
import PdfBuilder from './displays/pdfBuilder.vue';
import FieldEditor from './fieldEditor.vue'

export default {
  components: {
    'Panel': Panel,
    'TogglePanel': TogglePanel,
    'SlideUpDown': SlideUpDown,
    'Grid': Grid,
    'Cards': Cards,
    'Expanded': Expanded,
    'PdfBuilder': PdfBuilder,
    'FieldEditor': FieldEditor,
  },
  data() {
    return {
      has_row_controls: false,
      window_width: 0,
      edit_mode: false,
      panel_toggled: false,
    };
  },
  created() {
    bus.$on('toggle_edit_mode', () => {
      this.edit_mode = this.edit_mode ? false : true
    })
  },
  ready: function () {

  },
  mounted() {
    window.addEventListener('resize', this.handleWindowWidth);
    axios.defaults.headers.common['X-CSRF-TOKEN'] = this.csrf_token
    this.$i18n.locale = this.language;
    this.setEndpoint(this.endpoint)
    this.downloadItems()
  },
  methods: {
    handleWindowWidth: function (event) {
      this.window_width = event.currentTarget.innerWidth;
      //this.small_screen window_width <= 576 ? true : false
    },
    togglePanel() {
      this.panel_toggled = this.panel_toggled ? false : true
    },
    ...mapMutations([
      'setEndpoint'
    ]),
    ...mapGetters([
      'isDownloading', 'getFieldIndex', 'getCanEdit', 'getItemsToDisplay',
      'getPaginatedItems', 'getExpandedViewState', 'getItemEndpoint',
      'getPdfBuilderMode'
      // 'getPage',
    ]),
    ...mapActions([
      'downloadItems'
    ]),
  },
  watched: {

  },
  computed: {
    show_panel: function() {
      if (this.$mq != 'sm') {
        return true
      }
      return this.panel_toggled
    },
    is_downloading: function() {
      return this.isDownloading()
    },
    can_edit: function() {
      return this.getCanEdit()
    },
    field_index: function() {
      return this.getFieldIndex()
    },
    displayed_items: function() {
      if (this.$mq == 'sm') {
        return this.getItemsToDisplay()
      } else {
        return this.getPaginatedItems()
      }
    },
    expanded_view: function() {
      return this.getExpandedViewState()
    },
    pdf_builder_mode: function() {
      return this.getPdfBuilderMode()
    }
  }
};
</script>

<style>
.mt-1em {
  margin-top: 1em;
}
.mt-2em {
  margin-top: 2em;
}
.mt-3em {
  margin-top: 3em;
}
.mt-4em {
  margin-top: 4em;
}
.btn-rounded {
  box-shadow: none !important;
  outline: 0;
}
.btn-sm.btn-rounded {
  border-radius: 50px;
  height: 29px;
  width: 29px;
}
.btn-rounded > i {
  margin: 0;
}
.btn-toggle-group > button:first-child {
  margin-right: 0px !important;
  border-right: none !important;
}
.btn-toggle-group > button:last-child {
  border-left: none !important;
}
.deletedFieldLabel{
  color: red;
}
.table-filters {
  margin-bottom: 1em;
}
.no-data {
  border-top: 1px solid #dee2e6;
  padding-top: 2em;
  color: gray;
  font-style: italic;
}
.loading {
  margin-top: 3em;
  color: gray;
  font-style: italic;
  font-size: 1.25rem;
}
</style>
