<!--
This file is part of LiberaForms.

# SPDX-FileCopyrightText: 2021 LiberaForms.org
# SPDX-License-Identifier: AGPL-3.0-or-later
-->

<template>
  <div>
    <div class="text-center"
         style="margin-top: 2em;">
      <span>
        Downloaded {{ item_count }} of {{ total_items }}
      </span>
      <div v-if="item_count < total_items"
            style="margin-top: 1em;">
        <i v-if="downloading == false"
           v-on:click.once="download_more"
           id="download_more"
           class="fa fa-arrow-circle-down"
           aria-label="Download more">
        </i>
        <i v-else
           id="download_more"
           class="fa fa-circle-o-notch fa-spin fa-3x fa-fw">
        </i>
      </div>
    </div>
  </div>
</template>

<script>
import { mapMutations, mapActions } from 'vuex'
import axios from 'axios';
import { bus } from '../loaders/dataTableLoader'

export default {
  name: "EternalScroll",
  props: ['item_count', 'total_items'],
  data() {
    return {
      "downloading": false,
    };
  },
  methods: {
    ...mapActions([
      'downloadItems'
    ]),
    download_more: function (event) {
      this.downloading = true
      this.downloadItems()
    },
  },
  watch: {
    item_count: function () {
      this.downloading = false
    }
  },
};
</script>

<style>
#download_more {
  cursor: pointer;
  color: gray;
  font-size: 3em;
}
</style>
