<!--
This file is part of LiberaForms.

# SPDX-FileCopyrightText: 2021 LiberaForms.org
# SPDX-License-Identifier: AGPL-3.0-or-later
-->

<template>
  <div v-if="field_label !== null">
    <div ref="modal"
         class="modal fade"
         :class="{show, 'd-block': active}"
         @keydown.esc="toggleModal"
         tabindex="-1"
         role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">
              {{ $t(field_label) }}
            </h5>
            <button type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                    v-on:click="toggleModal">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <template v-if="my_edit_mode">
              <div class="form-group">

                <input v-if="field_type == 'text' ||
                             field_type == 'date' ||
                             field_type == 'number'"
                       :type="field_type"
                       class="form-control"
                       v-model="field_value">
                </input>
                <select v-else-if="field_type == 'select'"
                        v-model="field_value"
                        class="form-control custom-select">
                  <option v-for="option in field_options"
                          :value="option.value">
                      {{ option.label }}
                  </option>
                </select>
                <template v-else-if="field_type == 'checkbox-group'"
                          v-for="option in field_options">
                  <input type="checkbox"
                         :id="option.value"
                         :value="option.value"
                         v-model="multi_choice" />
                  <label :for="option.value">
                    {{ option.label }}
                  </label>
                  <br />
                </template>
                <template v-else-if="field_type == 'radio-group'"
                          v-for="option in field_options">
                  <input type="radio"
                         :id="option.value"
                         :value="option.value"
                         v-model="field_value" />
                  <label :for="option.value">
                   {{ option.label }}
                  </label>
                  <br />
                </template>
                <textarea v-else-if="field_type == 'textarea'"
                          class="form-control"
                          v-model="field_value">
                </textarea>

              </div>
            </template>
            <div v-else-if="field_name.startsWith('checkbox')"
                 v-html="formatted_field_value()">
            </div>
            <div v-else>
              {{formatted_field_value()}}
            </div>
          </div>
          <div class="modal-footer">
            <button v-if="can_edit && !my_edit_mode"
                    type="button"
                    class="btn btn-outline-secondary"
                    data-dismiss="modal"
                    v-on:click="activate_edition">
              {{ $t("Edit") }}
            </button>
            <button type="button"
                    class="btn btn-primary"
                    data-dismiss="modal"
                    v-on:click="toggleModal">
              {{ close_button_text}}
            </button>
            <button v-if="my_edit_mode"
                    type="button"
                    class="btn btn-success"
                    v-on:click="save_field">
              {{ $t("Save") }}
            </button>
          </div>
        </div>
      </div>
    </div>
    <div v-if="active" class="modal-backdrop fade show"></div>
  </div>
</template>

<script>
import { mapGetters, mapMutations, mapActions } from 'vuex'
import { bus } from '../loaders/dataDisplayLoader'

export default {
  name: "FieldEditor",
  props: [
    "can_edit", "edit_mode",
  ],
  data() {
    return {
      my_edit_mode: false,
      active: false,
      show: false,
      field_name: "",
      field_value: "",
      field_label: null,
      item_id: null,
      field_type: null,
      selected: null,
      field_options: [],
      multi_choice: [],
    };
  },
  ready: function () {

  },
  created() {
    bus.$on('show_field_editor', (item_id, field_name, field_value) => {
      this.field_name = field_name
      this.field_value = field_value
      this.item_id = item_id
      if (this.edit_mode == true) {
        this.create_form_data()
      }
      this.toggleModal()
    })
  },
  mounted() {

  },
  methods: {
    toggleModal() {
      const body = document.querySelector("body");
      this.active = !this.active;
      if (this.active == false) {
        this.my_edit_mode = this.edit_mode
      }
      this.active
        ? body.classList.add("modal-open")
        : body.classList.remove("modal-open");
      setTimeout(() => (this.show = !this.show), 10);
    },
    save_field() {
      if (this.field_type=="checkbox-group") {
        if (this.multi_choice.length > 0 && this.multi_choice[0].trim() === "") {
          // multi_choice may contain "" in as the first item of the array. why?
          this.multi_choice = this.multi_choice.slice(1)
        }
        var field_value = this.multi_choice.join(', ')
      } else {
        var field_value = this.field_value !== undefined ? this.field_value.trim() : ""
      }
      var payload = {
        item_id: this.item_id,
        field_name: this.field_name,
        field_value: field_value
      }
      this.saveItemData(payload)
      this.toggleModal()
    },
    create_form_data() {
      var field_structure = this.getFieldStructure(this.field_name)
      if (field_structure === undefined) {
        return
      }
      this.field_options = []
      this.multi_choice = []
      this.field_type = field_structure.type
      if (this.field_type == 'select' ||
          this.field_type == 'checkbox-group' ||
          this.field_type == 'radio-group') {
        if (this.field_value !== undefined) {
          this.multi_choice = this.field_value.split(', ')
        }
        field_structure.values.forEach((value) => {
          this.field_options.push({
            value: value.value,
            label: value.label
          })
        });
        //console.log(this.field_options)
      }
    },
    formatted_field_value() {
      if (!this.field_value) {
        return this.field_value
      }
      if (this.field_name.startsWith('checkbox')) {
        var values = this.field_value.split(', ')
        var html = '<ul>'
        values.forEach((value) => {
          var label = this.getOptionLabel({'field_name': this.field_name,
                                           'option_value': value})
          html = html + '<li style="margin-left: -1.3em;">' + label + '</li>'
        });
        html = html + '</ul>'
        return html
      }
      if (this.field_name.startsWith('radio-group') ||
          this.field_name.startsWith('select')){
        var label = this.getOptionLabel({'field_name': this.field_name,
                                         'option_value': this.field_value})
        if (label) {
          return label
        }
      }
      return this.field_value
    },
    activate_edition() {
      this.my_edit_mode = true
    },
    ...mapMutations([
      'setItemData'
    ]),
    ...mapActions([
      'saveItemData'
    ]),
  },
  watch: {
    edit_mode: function(val) {
      this.my_edit_mode = this.edit_mode
    },
    my_edit_mode: function(val) {
      if (this.my_edit_mode == true) {
        this.create_form_data()
      }
    },
    field_name: function(val) {
      if (val !== null) {
        this.field_label = this.getFieldLabel(val)
      } else {
        this.field_label = null
      }
    },
  },
  computed: {
    close_button_text: function() {
      return this.my_edit_mode ? this.$t("Cancel") : this.$t("Close")
    },
    ...mapGetters([
      'getFieldLabel', 'getFieldStructure', 'getOptionLabel'
    ]),
  },
};
</script>

<style scoped>
label {
  font-size: 1em !important;
}
</style>
