<!--
This file is part of LiberaForms.

# SPDX-FileCopyrightText: 2021 LiberaForms.org
# SPDX-License-Identifier: AGPL-3.0-or-later
-->


<template>
  <div class="panel">
    <hr v-if="mq != 'sm'"
        style=""
    />


<!--
    <div :class="{'mt-4em' : mq=='sm'}">
    </div>
-->
    <!-- transition start -->

      <!-- first row -->
      <div class="row"
           style="margin-bottom: 1.15em;">

        <div class="col text-right"
             :class="{'mt-1em' : mq=='sm'}">
          <Exports v-bind:endpoint="endpoint">
          </Exports>
        </div>
      </div>
      <!-- second row -->
      <div class="row">
        <div class="col">
          <Filters v-bind:mq="mq"
                   v-bind:field_index="field_index"
                   v-bind:endpoint="endpoint">
          </Filters>
        </div>
      </div>
      <!-- third row -->
      <div v-if="pdf_builder_mode == false"
           class="row">
        <div class="col"
             style="margin-top: 0.3em;">
          <Modes v-bind:mq="mq"
                 v-bind:edit_mode="edit_mode"
                 v-bind:can_edit="can_edit">
          </Modes>
        </div>
        <div v-if="mq != 'sm'"
             class="col-auto">
          <Pagination></Pagination>
        </div>
      </div>


    <!-- transition end -->
  </div>
</template>

<script>
// https://codepen.io/kdydesign/pen/VrQZqx
import { mapMutations, mapGetters, mapActions } from 'vuex'
import Exports from './panel/exports.vue';
import Filters from './panel/filters.vue';
import Pagination from './panel/pagination.vue';
import Modes from './panel/modes.vue';

export default {
  name: "Panel",
  components: {
    'Exports': Exports, 'Filters': Filters,
    'Pagination': Pagination, 'Modes': Modes
  },
  props: [
    'mq', 'can_edit', 'edit_mode', 'pdf_builder_mode',
    'field_index'
  ],
  data() {
    return {
    };
  },
  mounted() {
    //this.show_panel = (this.mq == 'sm') ? false : true
  },
  methods: {
    toggle_panel: function() {
      if (this.mq == 'sm') {
        this.show_panel = this.show_panel ? false : true
      }
    },
    ...mapGetters([
      'getCanEdit', 'getEndpoint', 'getExportsEnabled', 'getNotificationsEnabled'
    ]),
    generatePDF: function() {

    },
  },
  computed: {
    endpoint: function() {
      return this.getEndpoint()
    },
    panel_visible: function() {
      if (this.mq != 'sm') {
        return true
      } else {
        return this.show_panel
      }
    },
    notifications: function() {
      return this.getNotificationsEnabled()
    }
  },
};
</script>

<style>
.panel {

}

</style>
