<!--
This file is part of LiberaForms.

# SPDX-FileCopyrightText: 2021 LiberaForms.org
# SPDX-License-Identifier: AGPL-3.0-or-later
-->

<template>
  <div>
    <hr style="margin: 0 0 3.75em 0;" />
    <div class="togglePanel"
         v-on:click="$emit('togglePanel')">
      <div class="semi-circle">

        <i v-if="show_panel == false"
          class="expand_panel_icon fa fa-angle-down"
          aria-label="Expand filter options" >
        </i>
        <i v-else
          class="expand_panel_icon fa fa-angle-up"
          aria-label="Collapse filter options">
        </i>
      </div>
    </div>
  </div>
</template>

<script>


export default {
  name: "TogglePanel",
  components: {

  },
  props: [
    'show_panel'
  ],
  data() {
    return {

    }
  },
  ready: function () {

  },
  created() {

  },
  mounted() {


  },

  methods: {

  },

  computed: {

  },
};
</script>

<style scoped>
.togglePanel {
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  width: 80px;
  height: 40px;
  cursor: pointer;
  z-index: 100;
}
div.semi-circle {
  background: #F5F5F5;
  display: inline-block;
  margin: 0 1em 1em 0;
  height: 40px;
  width: 80px;
  border: 1px solid #dee2e6;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  z-index: 99999;
}
.expand_panel_icon {
  color: #A9A9A9;
  font-size: 4em;
  margin: -0.25em 0em 0 0.325em;
}
</style>
